.contentWrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  /* padding: 0 25px; */
}

@media (min-width: 1200px) {
  .contentWrapper {
    max-width: 1300px;
  }
}

@media (min-width: 1400px) {
  .contentWrapper {
    max-width: 1450px;
  }
}
