@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f10;
  color: #fff;
  overflow-x: hidden;
}

/* input,
textarea {
  color: #000;
} */
::-webkit-scrollbar {
  display: none;
}

/* color palettes */
footer {
  /* color:#08D9D6, */
  /* color:#252A34, */
  /* color:#FF2E63, */
  /* color:#EAEAEA */

  color: #f84c01;
}
