@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: canopee;
  src: url(./Canopee.ttf);
}

@font-face {
  font-family: editorial;
  src: url(./editorial.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: #0e1629; */
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
.apexcharts-menu {
  background: #000;
}
/* styles.css (or wherever you define your global styles) */
.gradient-text {
  background-image: linear-gradient(0deg, #c892f3 57%, #ebebeb 67%);
  -webkit-background-clip: text;
  color: transparent;
}

/* color palettes */
footer {
  /* color:#08D9D6, */
  /* color:#252A34, */
  /* color:#FF2E63, */
  /* color:#EAEAEA */

  color: #f84c01;
}
